@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body
{
    font-family: 'Poppins';
}

.header__title {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    font-weight:bold;
    font-size: large;
}

.a_href_link {
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    color:navy;
    font-weight:bold;
}

.img__scale:hover {
    transform: scale(1.2);
}

.col-center {
    text-align: center;
}

.img__fundador {
    text-align: left;
}

.carousel img {margin: auto;}